{
  "presets": [
    "react",
    "flow"
  ],
  "ignore": [
    "src/fiber/__tests__",
    "src/utils/__tests__"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src/fiber",
          "./src/fiber/isomorphic",
          "./src/utils"
        ],
        "alias": {
        }
      }
    ]
  ]
}
