{
  "presets": [
    "react",
    "flow"
  ],
  "ignore": [
    "src/renderers/fiber/__tests__",
    "src/renderers/shared/event/__tests__",
    "src/renderers/shared/event/eventPlugins/__tests__",
    "src/renderers/utils/__tests__",
    "src/shared/utils/__tests__"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src/shared",
          "./src/shared/utils",
          "./src/renderers/fiber",
          "./src/renderers/fiber/isomorphic",
          "./src/renderers/shared",
          "./src/renderers/shared/event",
          "./src/renderers/shared/event/eventPlugins",
          "./src/renderers/utils"
        ],
        "alias": {
        }
      }
    ]
  ]
}
